<h1> Library Member Details </h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Name:</th>
    <td><%= @member.name %></td>
  </tr>
  <tr>
    <th>Email:</th>
  <td><%= @member.email %></td>
</table>
<%= link_to 'Edit', edit_member_path(@member), class: "btn btn-lg btn-primary" %> |

